<%- include("partials/header.ejs") %>



<% if (locals.location) {%>
<div class="first container">
  <div id="weather" class="grid-container">
    <div class="location name">
      <h2 class="text"><%= location.name %></h2>
    </div>
    <div class="location weather-icon">
      <img src="https://openweathermap.org/img/wn/<%= location.weather[0].icon %>@2x.png"/>
    </div>
    <div class="location weather">
      <h2 class="text"><%=location.weather[0].main %></h2>
    </div>
    <div class="location temp">
      <h2 class="text"><%= Math.round(location.main.temp-273) + " °C" %></h2>
    </div>
  </div>
</div>
<% } %>

<div id="form" class="container">
<form id="location" method="post" action="/submit">
  <label class="text">Lattitude: </label><br>
  <input type="text" id="city" name="lat"><br>
  <label class="text">Longitude: </label><br>
  <input type="text" id="country" name="lon"><br>
  <button type="submit" class="text">submit</button>
</form>
</div>



<%- include("partials/footer.ejs") %>